# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class

# Virtual env
.venv/
env/
venv/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# pytest
.pytest_cache/
.cache/

# Coverage
htmlcov/
.coverage
.coverage.*

# Allure
allure-report/
# сохраняем allure-results, чтобы у команды были сырые результаты
# allure-results/

# Logs
*.log

# Jupyter notebooks
.ipynb_checkpoints/
